<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinamobile.cmss.bcse.evaluate.dao.EvaluateResultBeanDao">
  <resultMap id="BaseResultMap" type="com.chinamobile.cmss.bcse.evaluate.bean.EvaluateResultBean">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SEARCH_WORD" jdbcType="VARCHAR" property="searchWord" />
    <result column="SEARCH_RESULT" jdbcType="VARCHAR" property="searchResult" />
    <result column="DATA_RESULT" jdbcType="VARCHAR" property="dataResult" />
    <result column="SCORE" jdbcType="DOUBLE" property="score" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="DATA_ID" jdbcType="VARCHAR" property="dataId" />
    <result column="EVALUATE_NUMBER" jdbcType="INTEGER" property="evaluateNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SEARCH_WORD, SEARCH_RESULT, DATA_RESULT, SCORE, TYPE, APP_ID, DATA_ID, EVALUATE_NUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EVALUATE_RESULT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EVALUATE_RESULT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chinamobile.cmss.bcse.evaluate.bean.EvaluateResultBean">
    insert into EVALUATE_RESULT (ID, SEARCH_WORD, SEARCH_RESULT, 
      DATA_RESULT, SCORE, TYPE, 
      APP_ID, DATA_ID, EVALUATE_NUMBER
      )
    values (#{id,jdbcType=VARCHAR}, #{searchWord,jdbcType=VARCHAR}, #{searchResult,jdbcType=VARCHAR}, 
      #{dataResult,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{type,jdbcType=VARCHAR}, 
      #{appId,jdbcType=VARCHAR}, #{dataId,jdbcType=VARCHAR}, #{evaluateNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobile.cmss.bcse.evaluate.bean.EvaluateResultBean">
    insert into EVALUATE_RESULT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="searchWord != null">
        SEARCH_WORD,
      </if>
      <if test="searchResult != null">
        SEARCH_RESULT,
      </if>
      <if test="dataResult != null">
        DATA_RESULT,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="dataId != null">
        DATA_ID,
      </if>
      <if test="evaluateNumber != null">
        EVALUATE_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="searchWord != null">
        #{searchWord,jdbcType=VARCHAR},
      </if>
      <if test="searchResult != null">
        #{searchResult,jdbcType=VARCHAR},
      </if>
      <if test="dataResult != null">
        #{dataResult,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="evaluateNumber != null">
        #{evaluateNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinamobile.cmss.bcse.evaluate.bean.EvaluateResultBean">
    update EVALUATE_RESULT
    <set>
      <if test="searchWord != null">
        SEARCH_WORD = #{searchWord,jdbcType=VARCHAR},
      </if>
      <if test="searchResult != null">
        SEARCH_RESULT = #{searchResult,jdbcType=VARCHAR},
      </if>
      <if test="dataResult != null">
        DATA_RESULT = #{dataResult,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        DATA_ID = #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="evaluateNumber != null">
        EVALUATE_NUMBER = #{evaluateNumber,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinamobile.cmss.bcse.evaluate.bean.EvaluateResultBean">
    update EVALUATE_RESULT
    set SEARCH_WORD = #{searchWord,jdbcType=VARCHAR},
      SEARCH_RESULT = #{searchResult,jdbcType=VARCHAR},
      DATA_RESULT = #{dataResult,jdbcType=VARCHAR},
      SCORE = #{score,jdbcType=DOUBLE},
      TYPE = #{type,jdbcType=VARCHAR},
      APP_ID = #{appId,jdbcType=VARCHAR},
      DATA_ID = #{dataId,jdbcType=VARCHAR},
      EVALUATE_NUMBER = #{evaluateNumber,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>